site_name: JoinMarket NG
theme:
  name: material
  features:
    - content.code.copy # <--- Das ist der EINZIGE Weg, den Button zu aktivieren
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
nav:
  - Home: index.md
  - Installation: install.md
#  - Protocol Documentation:
#    - Concepts: DOCS01-Concepts.md
#    - JoinMarket-NG: DOCS02-JoinMarket-NG.md
#    - Architecture: DOCS03-Architecture.md
#    - Protocol: DOCS04-Protocol.md
#    - Privacy Mechanisms: DOCS05-Privacy Mechanisms.md
#    - Wallet: DOCS06-Wallet.md
#    - Configuration: DOCS07-Configuration.md
#    - Security: DOCS08-Security.md
#    - Development: DOCS09-Development.md
#    - Best Practices: DOCS10-Best Practices.md
#    - References: DOCS11-References.md

#  - Module:
#    - Wallet: jmwallet.md
#    - Scripts: scripts.md
#    - Maker: maker.md
#    - Taker: taker.md
#    - Directory Server: directory_server.md
#    - OrderbookWatcher: orderbook_watcher.md