site_name: JoinMarket NG
theme:
  name: material
  features:
    - content.code.copy
    - navigation.expand
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format  
  - pymdownx.inlinehilite


nav:
  - Home: index.md
  - Installation: install.md
  - Modules:
    - Wallet: README_jmwallet.md
    - Taker: README_taker.md
    - Maker: README_maker.md
  - Protocol Documentation:
    - Concepts: DOCS01-Concepts.md
    - JoinMarket-NG: DOCS02-JoinMarket-NG.md
    - Architecture: DOCS03-Architecture.md
    - Protocol: DOCS04-Protocol.md
    - Privacy Mechanisms: DOCS05-Privacy Mechanisms.md
    - Wallet: DOCS06-Wallet.md
    - Configuration: DOCS07-Configuration.md
    - Security: DOCS08-Security.md
    - Development: DOCS09-Development.md
    - Best Practices: DOCS10-Best Practices.md
    - References: DOCS11-References.md
    - Scripts: README_scripts.md

  - Helpful Tools:
    - Directory Server: README_directory_server.md
    - Orderbook Watcher: README_orderbook_watcher.md